@using moviesnow.Models
@model SearchResult

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/lightslider.css">
    <title>Dashboard</title>
</head>
<body>
    <header class="header">
        <div class="top-bar">
                
            <div class="container-fluid">
            
                <nav class="navbar navbar-expand-lg navbar-dark position-relative">
                    <a class="navbar-brand" href="#">
                        <img src="~/img/logo.png" width="200" class="d-inline-block align-top" alt="" loading="lazy">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    
                    <div class="collapse navbar-collapse" id="navigation">
                        <ul class="navbar-nav ml-lg-auto">
                            <li class="nav-item active mr-lg-3 text-uppercase">
                                <a class="nav-link" href="/dashboard">Dashboard</a>
                            </li>
                            <li class="nav-item mr-lg-3 text-uppercase">
                                <a class="nav-link" href="">All Movies</a>
                            </li>
                            <li>
                                <a class="nav-link disabled" href="" aria-disabled="true">Welcome,</a>
                            </li>
                            <li class="nav-item dropdown mr-lg-3">
                                <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Daniel</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="">Edit Profile</a>
                                    <a class="dropdown-item" href="/logout">Logout</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    
                </nav>
            
            </div>
                
        </div>
    </header>

    <div class="container-fluid py-4" id="main_carousel">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    @for (int i = 0; i < 1; i++)
                    {
                        var movie = Model.results[i];
                        var link = movie.poster_path;

                        <div class="container text-white">
                            <div class="movie-teaser media flex-column flex-md-row px-5">
                                <img class="movie-image mb-3 mb-md-0 mr-md-5 ml-md-0 rounded mx-auto shadow" src="https://image.tmdb.org/t/p/original/@link" alt="">
                                <div class="movie-body text-center text-md-left my-auto">
                                    <h1 class="mt-0 font-weight-bold">
                                        @movie.title 
                                        <span class="badge badge-primary align-middle">
                                            <svg width="0.8em" height="0.8em" viewBox="0 0 16 16" class="bi bi-star align-baseline" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                            </svg>
                                            @movie.vote_average
                                        </span>
                                    </h1>
                                    <div class="bio mb-3">@movie.overview</div>
                                    <a class="btn btn-primary" href="/movie/@movie.id">More Info</a>
                                </div>
                            </div>
                            
                        </div>
                    }
                </div>

            @for (int i = 1; i <10; i++)
            {
                var movie = Model.results[i];
                var link = movie.poster_path;
                <div class="carousel-item">
                    <div class="container text-white">
                        <div class="movie-teaser media flex-column flex-md-row px-5">
                            <img class="movie-image mb-3 mb-md-0 mr-md-5 ml-md-0 rounded mx-auto shadow" src="https://image.tmdb.org/t/p/original/@link" alt="">
                            <div class="movie-body text-center text-md-left my-auto">
                                <h1 class="mt-0 font-weight-bold">
                                    @movie.title  
                                    <span class="badge badge-primary align-middle">
                                        <svg width="0.8em" height="0.8em" viewBox="0 0 16 16" class="bi bi-star align-baseline" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                        </svg>
                                        @movie.vote_average
                                    </span>
                                </h1>
                                <div class="bio mb-3">@movie.overview</div>
                                <a class="btn btn-primary" href="/movie/@movie.id">More Info</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        </div>
    </div>

    <div class="container-fluid my-5 px-3" id="favorites_carousel">
        <ul id="autoWidth" class="cs-hidden">
            @for (int i = 0; i < 19; i++)
            {
                var movie = Model.results[i];
                var poster_link = movie.poster_path;

                <li class="item-a">
                    <div class="poster">
                        <a class="overlay rounded text-center p-2" href="/movie/@movie.id">
                            <h6 class="text-white">@movie.title</h6>
                        </a>
                        <img class="rounded shadow" src="https://image.tmdb.org/t/p/original/@poster_link" alt="">
                    </div>
                </li>
            }
        </ul>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="~/script/lightslider.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){
            $('#autoWidth').lightSlider({
                autoWidth:true,
                loop:true,
                onSliderLoad: function() {
                    $('#autoWidth').removeClass('cS-hidden');
                } 
            });
            
        });
    </script>
</body>
</html>